
*{
  padding: 0px;
  text-align: center;
}
a{
  color: white;
}
.mdiv{
  background-image: url("haven.jpg");
  background-color: #23114478;
  border-radius: 20px;
}
body{
  background-image: url("haven.jpg");
}
#lk{
  color: #fff0
}
.box_app{
  border: 5px solid #12535788;
  padding: 20%;
  height: 100px;
  border-radius: 20px;
  background-color: #00327699;
  margin: 10%;
}

.box_app div img{
  width: 50px;
  height: 50px;
  border-radius: 15px;
}
#h1dv{
  background-color: #00ffff77;
  height: 40px;
  border-radius: 15px;
  
}
.box_app div{
  color: white;
}

#text_div{
  font-size: 30px;
  font-family: Times New Roman;
  color: white;
  background-color: #23431200;
}
